body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app{
  display: flex;
  background-color: magenta;
}

.centeredText{
  text-align: center;
}