.previewSection{
    flex: 7;
    background-color: #F8EDE3;
    height: 100vh;
    overflow-y: auto;
}

.resume{
    background-color: white;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.393);
    padding: 1vw;
}

.resumeTitle{
    margin-top: 10px;
    margin-bottom: 2px;
}

.contentText{
    font-size: small;
}

.separator {
    border-top: 1px solid #000;
    margin: 10px 0; 
}